<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/backend/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="overlay"></div>
    <div class="scanline"></div>
    <section id="login-container">
        <img src="../assets/backend/imgs/scanlines.png" id="scan" alt="scanline-effect-image">
        <img src="../assets/backend/imgs/tv.png" id="tv" alt="tv-effect-image">
        <div id="content">
            <form id="formLogin">
                <h3>LOGIN</h3>
                <div>
                    <p>
                        Welcome to the System Administrator Integrated Message System (SAIMS). 
                        Fill out the fields below and press the SUBMIT button. 
                        The system administrator (SYSADM) will respond to your query after an appropriate 
                        amount of quiet contemplation. 
                        Thank you for contacting the System Administrator's Office.
                    </p>
                </div>
                <div>
                    <label id="lblEmail" for="">
                        EMAIL >>
                    </label>
                </div>
                <div>
                    <input type="email" id="correo" name="correo" placeholder="example@example.cl" required>
                </div>
                <div>
                    <label for="">CLAVE >></label>
                </div>
                <div>
                    <input type="password" id="clave" name="clave" placeholder="Tu Clave Aquí" required>
                </div>
                <div>
                    <input type="submit" name="entrar" value="ENTRAR">
                </div>
            </form>
            <!-- <div id="mensajeError"></div> Contenedor para mensajes de error -->
        </div>
    </section>
    <script src="/assets/backend/js/app.js"></script>
</body>
</html>